<h2>New Treatment Form</h2>

<%= form_for(@treatment_form, :url => treatment_form_path(@treatment_form), :method => :post ) do |f| %>

    <% if @treatment_form.errors.any? %>
      <div id="error_explanation">
         <ul>
            <% @treatment_form.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
            <% end %>
         </ul>
      </div>
    <% end %>
    
    <div><label> Patient </patient><br />
       <%= f.select :patient_id,  options_from_collection_for_select(@patients, "id", "first_name") %>
    </div>
    
    <div><%= f.label :date %><br />
    <%= f.date_select :date %></div> <br />
    
    <div>
        <%= f.label :complaints %> 
        <%= f.text_field :complaints %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <%= f.label :rating %> 
      <%= f.select :rating, options_for_select(%w(1 2 3 4 5 6 7 8 9 10)) %>
    </div>

    <div>
       <label> Yes </label>
       <input type="checkbox" id="treatment_form_aggravating_factors" name="treatment_form[aggravating_factors]" value="yes" />
       <label> No </label>
       <input type="checkbox" id="treatment_form_aggravating_factors" name="treatment_form[aggravating_factors]" value="no" />
    </div>  
    
    <div><%= f.label :aggravating_factors_text %><br />
      <%= f.text_field :aggravating_factors_text %>
    </div>
    
    <div>
       <label> Yes </label>
       <input type="checkbox" id="treatment_form_new_injuries" name="treatment_form[new_injuries]" value="yes" />
       <label> No </label>
       <input type="checkbox" id="treatment_form_new_injuries" name="treatment_form[new_injuries]" value="no" />
    </div>  

    <div><%= f.label :new_injuries_text %><br />
      <%= f.text_field :new_injuries_text %>
    </div>
     
    <div>
       <%= f.submit "Update" %> Or <%= link_to "Cancel", "/treatment_forms", :class => "cancel" %>
    </div>
 
<% end %>
