<h2>New Master Account</h2>

<%= form_for(@user, :url => {:action => "create_master_account"}, :method => :post ) do |f| %>

    <% if @user.errors.any? %>
  <div id="error_explanation">
     <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

   <ul class="patient-form">

      <li>   
           <%= f.label :email %>
           <%= f.email_field :email %>
      </li>

       <li>
           <%= f.label :password %>
           <%= f.password_field :password %>
       </li>

       <li>
           <%= f.label :password_confirmation %>
           <%= f.password_field :password_confirmation %>
       </li>
       
       <li>
          <%= f.label :type %><br />
          <%= f.select :type, options_for_select(%w(Doctor Patient Staff Company)) %>
       </li> 
     
    </ul>
  
    <div>
       <%= f.submit "Sign up" %> Or 
       <%= link_to 'Cancel', users_path %> 
    </div>
  
<% end %>
