<h1>Listing patient_images</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patient_images.each do |patient_image| %>

  <tr>
    <td> <%= image_tag patient_image.image.to_s if patient_image %></td>
    <td><%= link_to 'Show', patient_image %></td>
    <td><%= link_to 'Edit', edit_patient_image_path(patient_image) %></td>
    <td><%= link_to 'Destroy', patient_image, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patient image', new_patient_image_path %>
