
<h3> <%= link_to 'Upload Identification Detail', new_patient_image_path %> </h3>

<table>
    <tr>
	   <th></th>
	   <th></th>
	   <th></th>
    </tr>
    <% @patients.each do |patient| %>
        <tr>
		    <td>
			  	 <% patient.patient_images.each do |patient_image| %>
				       <a href="#<%= patient_image.id %>" rel="facebox">
					      View <%= image_file_name(patient_image) %>
					   </a> <br/><br/>
				      <div id="<%= patient_image.id %>" class="patient-pic" style="display:none">
					     <%= image_tag patient_image.image.to_s if !patient_image.nil? %>
				      </div>
			     <% end %>
	        </td>
        </tr>
    <% end %>
</table>

<h3> <%= link_to 'Upload Insurance Document', new_upload_path %> </h3>

 <% @patients.each do |patient| %>
		<% present_user = patient %>
		<% present_user.uploads.each do |upload_obj| %>		     
		     <%= link_to "#{upload_obj.id}" , "/download/#{upload_obj.id}" %><br/><br/>  
		<% end %>		
 <% end %>



