<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% @doctors=Doctor.all(:select=>['id, first_name,last_name'])%>
    <%= f.label "select Doctor" %><br />
    <%=collection_select(:appointment, :doctor_id, @doctors, :id, :first_name, {:prompt => true}) %></div>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :hosiptal_name %><br />
    <%= f.text_field :hosiptal_name %>
  </div>
  <div class="field">
    <%= f.label :purpose %><br />
    <%= f.text_field :purpose %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
