<!DOCTYPE html>
<html>
<head>
  <title>Family Practice</title>
  <%= stylesheet_link_tag :all, 'app', 'jquery-ui-1.8.16.custom' %>
   <%= javascript_include_tag :defaults, 'jquery.ui.core', 'jquery.ui.datepicker' %>

  <%= csrf_meta_tag %>  
</head>
    
     <div id="content"><!-- Wraps everything -->
          <div id="header"><!--The Header -->          
              <div class="page-width">
             
 
                  <h1> Family Practice </h1>
                  
			 <% if user_signed_in? %>          <div id="user-cp"> <!--User Control Panel -->           <p class="welcome">Welcome <em><%= current_user.email %></em></p>           <ul>                <li>&nbsp;<%= link_to "Logout", destroy_user_session_path %></li>           </ul>      </div>

                  <div class="console_header">                       
                  </div>
                     
                   <div class="headernav">                      
                       <div class="item profile <% if @select == "profile" %> active <% end %>">
                          <%= link_to "Home",doctors_path%>
                          <%= link_to "Upload Documents",new_upload_path%>
                          <%= link_to "Appointments",appointments_path%>
                         <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
                       </div>
                   </div>
                  
              </div>
         </div>
    </div>
<% end %>    
<body> 
<%= yield %>

</body>
</html>


